            <footer>
                <div class="footer-c">
                    <div>
                        Power by <a href="hirosama.cn">Hirosama.cn</a> 2014
                    </div>
                </div>
            </footer>
    </div>
    </div>
    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
</body>
</html>