<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<title><%= title%></title>
<style type="text/css">
    .a{
        width: 200px;
        
        
    }
    .b{
        width:50%;
        min-height:80px;
        float: left;
        background: #aaa;
    }
    .c{
        width:50%;
        min-height: 30px;
        float: right;
        background: yellow;
    }
    .blank{
        width:200px;
        height:100px;
        background: red;
        text-align: right;
        clear: both;
    }
</style>
</head>
<body>
    <div class="a">
        <div class='b'>左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动</div>
        <div class="c">右浮动右浮动</div>
    </div>
    <div class='blank'>空白div</div>

    <div class="a">
        <div class='b'>左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动左浮动</div>
         <div class="c">右浮动右浮动右浮动</div>
    </div>
    <div class='blank'>空白div</div>
</body>
</html>